flask
flask-login
flask-mail
flask-babel
flask-sqlalchemy
python-dotenv
pillow
gunicorn
email-validator
flask
flask-login
flask-mail
flask-sqlalchemy
gunicorn
pillow
psycopg2-binary
python-dotenv
sqlalchemy
werkzeug
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
